<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuildLounge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GuildLounge.Properties.Settings>
            <setting name="GameDir" serializeAs="String">
                <value>C:\Program Files\Guild Wars 2</value>
            </setting>
            <setting name="LaunchBehavior" serializeAs="String">
                <value>MINIMIZE</value>
            </setting>
            <setting name="AutoUpdateExtensions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartParams" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveModules" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Basic Currencies</string>
                        <string>Fractals</string>
                        <string>PvP</string>
                        <string>Raids</string>
                        <string>Trading Post Pickup</string>
                        <string>WvW</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </GuildLounge.Properties.Settings>
    </userSettings>
</configuration>